.Rproj.user
.Rhistory
.RData
.Ruserdata
FLS6183_metodos_quanti_02/lab_05/lab_05_Amanda.html
FLS6183_metodos_quanti_02/trab_final/outros_bancos/outros_bancos.rar
FLS6183_metodos_quanti_02/trab_final/Uso de internet para conteúdo político.png
FLS6183_metodos_quanti_02/trab_final/Uso de internet para conteúdo político.png
FLS6183_metodos_quanti_02/trab_final/Uso de internet para conteúdo político.png
FLS6183_metodos_quanti_02/trab_final/Uso de internet para conteúdo político.png
